/* StatusLegend.css */

/* Define CSS variables for the colors */
:root {
  --status-ok: #4caf50;
  --status-unauthorized: #ff9800;
  --status-server-error: #f44336;
  --status-other: #9e9e9e;
}

.status-legend-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

.status-legend-title {
  display: flex;
  align-items: center;
  margin: 5px 5px;
}

.status-item {
  display: flex;
  align-items: center;
  margin: 5px 5px;
}

.status-color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.status-ok {
  background-color: var(--status-ok);
}

.status-unauthorized {
  background-color: var(--status-unauthorized);
}

.status-server-error {
  background-color: var(--status-server-error);
}

.status-other {
  background-color: var(--status-other);
}
